<h1>Edit Landmark: <%= @landmark.name %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Change Landmark Name:</label>
  <br></br>
  <input type="text" name=landmark[name] id="name"
    value="<%= @landmark.name %>">
  <br></br>

  <label for="year_completed">Change Landmark Year Completed:</label>
  <br></br>
  <input type="text" name=landmark[year_completed] id="year_completed"
    value="<%= @landmark.year_completed %>">
  <br></br>

  <input type="submit" value="Edit Landmark">

</form>
