<h1>Create a Landmark</h1>
<br></br>

<form action="/landmarks" method="post">

  <label for="landmark_name">Landmark Name</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>

  <label for="landmark_year_completed">Landmark Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>

  <input type="submit" value="Create New Landmark">

</form>
